---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostPreview from "../../components/PostPreview.astro";

import { getCollection } from "astro:content";
const blogPosts = await getCollection("blog");
const currentPath = "/blog";
---

<BaseLayout currentPage="Blog" includeHeader={true} currentPath={currentPath}>
  <div class="lg:w-[55%] w-full mx-auto">
    {
      blogPosts.map((blogPost) => (
        <PostPreview
          title={blogPost.data.title}
          pubDate={blogPost.data.pubDate}
          categories={blogPost.data.categories}
          slug={blogPost.slug}
        />
      ))
    }
  </div>
</BaseLayout>
